stages:
  - build
  - pre_release
  - release

variables:
  SRC_PATH: /src/github.com/StackVista/stackstate-process-agent
  STS_AWS_BUCKET: stackstate-process-agent-2-test
  STS_REPO_BRANCH_NAME: $CI_COMMIT_REF_NAME
  CIRCLE_BRANCH: $CI_COMMIT_REF_NAME
  STS_DOCKER_RELEASE_REPO: stackstate-process-agent
  STS_DOCKER_TEST_REPO: stackstate-process-agent-test
  GO111MODULE: "on"
  QUAY_REGISTRY: quay.io
  DOCKER_REGISTRY: docker.io
  RUNNER_DIR_PREFIX: $CI_PROJECT_DIR/.cd-builders/runner-gitlab-
  RUNNER_CENTOS6: centos6
  RUNNER_RUNNER_BASE: centos6-runner-base
  RUNNER_RPM: rpm
  RUNNER7_DIR: $CI_PROJECT_DIR/.cd-builders/runner-gitlab-centos7

build_linux:
  image: artifactory.tooling.stackstate.io/docker-virtual/stackstate/stackstate-process-agent-runner-gitlab:runner_centos7-20220218
  stage: build

  script:
    - printenv
    - export PROCESS_AGENT_VERSION=$(packaging/version.sh)
    - export EBPF=${EBPF:-true}
    - source ~/.bashrc
    - go get golang.org/x/tools/cmd/gorename
    - go get golang.org/x/tools/cmd/eg
    - go get golang.org/x/lint/golint
    - printenv
    - (cd packaging; ./apply_branding.sh)
    - rake ci
    - (cd packaging; ./build_staging_package.sh)
  artifacts:
    paths:
      - $CI_PROJECT_DIR/process-agent
      - $CI_PROJECT_DIR/packaging/debian/*.deb
    expire_in: 2 week

# Gitlab dedicated runner in a Windows VM
build_windows:
  stage: build
  allow_failure: false
  script:
    - cd packaging && bash -c "./apply_branding.sh" && cd ..
    - call .gitlab-scripts/windows_build.cmd
  artifacts:
    expire_in: 2 weeks
    paths:
      - ./process-agent.exe
  tags:
    - agent_windows_6
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
      - script_failure

pre_release_windows:
  stage: pre_release
  needs:
    - build_windows
  before_script: []
  script:
    - cp process-agent.exe stackstate-process-agent-%CI_COMMIT_SHORT_SHA%.exe
    - aws.exe s3 cp . s3://stackstate-process-agent-2-test/%CI_COMMIT_REF_NAME% --recursive --exclude "*" --include "*.exe" --acl public-read
  tags:
    - agent_windows_6
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
      - script_failure

pre_release_linux:
  stage: pre_release
  image: artifactory.tooling.stackstate.io/docker-virtual/stackstate/stackstate-process-agent-runner-gitlab:runner_centos7-20220218
  needs:
    - build_linux
  before_script:
    - export PROCESS_AGENT_VERSION=$CI_COMMIT_SHORT_SHA
  script:
    - ls -la $CI_PROJECT_DIR
    - ls -la $CI_PROJECT_DIR/packaging
    - cd $CI_PROJECT_DIR/packaging && ./publish_staging_package.sh

pre_release_image:
  stage: pre_release
  image: artifactory.tooling.stackstate.io/docker-virtual/docker:18.06.0
  needs:
    - build_linux
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: artifactory.tooling.stackstate.io/docker-virtual/docker:18.09-dind
      alias: docker
  script:
    - cd $CI_PROJECT_DIR
    - ./packaging/publish_image.sh $CI_COMMIT_REF_NAME $STS_DOCKER_TEST_REPO $CI_PROJECT_DIR/process-agent

release_image:
  stage: release
  image: artifactory.tooling.stackstate.io/docker-virtual/stackstate/docker:18.06.0
  needs:
    - build_linux
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  services:
    - name: artifactory.tooling.stackstate.io/docker-virtual/docker:18.09-dind
      alias: docker
  before_script:
    - docker login -u "${docker_user}" -p "${docker_password}" "${DOCKER_REGISTRY}"
    - docker login -u "${quay_user}" -p "${quay_password}" "${QUAY_REGISTRY}"
  script:
    - cd $CI_PROJECT_DIR
    - export PUSH_LATEST=true
    - ./packaging/publish_image.sh $CI_COMMIT_REF_NAME $STS_DOCKER_RELEASE_REPO $CI_PROJECT_DIR/process-agent $PUSH_LATEST
  when: manual
  only:
    - tags
    - trigger

build_runner_centos7:
  stage: build
  image: artifactory.tooling.stackstate.io/docker-virtual/docker:18.06.0
  services:
    - name: artifactory.tooling.stackstate.io/docker-virtual/docker:18.09-dind
      alias: docker
  retry:
    max: 2
    when:
      - always
  rules:
    - when: manual
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - cd $RUNNER7_DIR
    - pwd
    - export RUNTIMETAG=$(date +%Y%m%d)
    - docker login -u "${docker_user}" -p "${docker_password}" "${DOCKER_REGISTRY}"
    - docker login -u "${quay_user}" -p "${quay_password}" "${QUAY_REGISTRY}"
    - docker build -t stackstate/stackstate-process-agent-runner-gitlab:runner_centos7-${RUNTIMETAG} .
    - docker push stackstate/stackstate-process-agent-runner-gitlab:runner_centos7-${RUNTIMETAG}
