dd-process-agent
vendor/
download/

.vscode
.idea
.bashrc
*.exe
*.syso
agent/windows_resources/process-agent-msg.rc
agent/windows_resources/*.bin
# file generated at build time by message compiler
process-agent-msg.h
process-agent
packaging/debian/*.deb
packaging/rpm/*.rpm
